.Todolist {
  text-align: center;
}

.Todolist-header {
  background-color: green;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em 0;
}

.Todolist-link {
  color: #61dafb;
}

.Todolist-section {
  text-align: center;
  margin: 2em auto;
}

.Todolist-article {
  text-align: justify;
  margin: 4em 20em 0 20em;
}

